/* 
    Document   : design
    Created on : 11 févr. 2009, 22:25:40
    Author     : Pauline Réquéna
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background-image: url("fond_bleu2.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% -5%;
}

#titre
{
    position:absolute;
    padding:12px;
    left:430px;
    top:200px;
    width:450px;
    height:42px;
    color: navy;
    text-align:center;
    font-family: verdana,sans-serif;
    font-size: 30px;
    font-weight:bold;
    border: 2px solid navy;
}

#login
{
    position:absolute;
    padding:15px;
    left:450px;
    top:370px;
    width:600px;
    height:250px;
}

label.form
{
    display:block;
    float:left;
    width:170px;
    margin-left:50px;
    text-align:left;
    font-family: verdana,sans-serif;
    font-size: 15px;
    font-weight:bold;
}


label.titre
{
    display:inline;
    width:200px;
    text-align:center;
    margin-left:150px;
    font-family: verdana,sans-serif;
    font-size: 18px;
    font-weight:bold;
}

label.bouton
{
    display:inline;
    text-align:center;
    margin-left:160px;
    font-family: verdana,sans-serif;
    font-size: 13px;
    color:green;
    font-weight:bold;
}

input.in
{

    margin-left:180px;
    background: transparent url("entrer.png") no-repeat center center;
    border:none;
    width:60px;
    height:60px;
}



